In [1]:
import pandas as pd

## Introduction to dataFrame

In [7]:
# Create dataFrame:df
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
df

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [8]:
# df with columns
df_columns= pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns= ["A","B","C"])
df_columns

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [9]:
# df with columns and index
df_columns_index= pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns= ["A","B","C"],index=["year_1","year_2","year_3","year_4",])
df_columns_index

         A   B   C
year_1   1   2   3
year_2   4   5   6
year_3   7   8   9
year_4  10  11  12

## 2. Data loading
### การนำเข้าข้อมูล

In [12]:
# read_excel()
import pandas as pd
df_from_excel = pd.read_excel("./datasets/Data_sample.xlsx")
df_from_excel_sheet2 = pd.read_excel("./datasets/Data_sample.xlsx",sheet_name="Sheet2")
df_from_excel_sheet2

      coffee  unit_sold
0       late         15
1   espresso         20
2  capuchino         18
3  amaricano         10

In [ ]:
# read_csv()
df_from_csv = pd.read_csv("./datasets/Salary_Data.csv")
df_from_csv

In [2]:
# read_csv() from url
#read_csv(path)
path = "https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/CoffeeAndCodeLT2018%20-%20CoffeeAndCodeLT2018.csv"
df_from_url = pd.read_csv(path)

df_from_url

NameError: name 'pd' is not defined

## 3.Accessing Data with Pandas
### การเข้าถึงข้อมูล

In [15]:
# ตรวจสอบ dataFrame ด้วย.info
df_from_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodingHours          100 non-null    int64
 1   CoffeeCupsPerDay     100 non-null    int64
 2   CoffeeTime           100 non-null    object
 3   CodingWithoutCoffee  100 non-null    object
 4   CoffeeType           99 non-null     object
 5   CoffeeSolveBugs      100 non-null    object
 6   Gender               100 non-null    object
 7   Country              100 non-null    object
 8   AgeRange             98 non-null     object
dtypes: int64(2), object(7)
memory usage: 7.2+ KB

In [ ]:
# เข้าถึงข้อมูลแบบ คอลัม

# 1.แสดง คอลัม
df_from_url.columns
#['CodingHours', 'CoffeeCupsPerDay', 'CoffeeTime', 'CodingWithoutCoffee',
    #    'CoffeeType', 'CoffeeSolveBugs', 'Gender', 'Country', 'AgeRange']
# 2.เข้าถึง คอลัม
df_from_url["CodingHours"]
df_from_url["Country"]
df_from_url["CoffeeType"]
df_from_url["CoffeeTime"]

# 2.เข้าถึง คอลัม more than 1 คอลัม
df_from_url[["CodingHours","Country","CoffeeType","CoffeeTime"]]

In [ ]:
# เข้าถึงแบบ Row with dataFrame.loc[ row columns ]
df_from_url.loc[[0,1,2,3,4,5,6,7,8,9]]
df_from_url.loc[0:20]
df_from_url.loc[50:]

In [ ]:
#เข้าถึงแบบ dataFrame.loc[ row columns ]
# สร้างด้าต้าเฟลม ชื่อ coffee
coffee = df_from_url

# ขอแถวที่ 0 ถึง 20 และ คอลัม 'CoffeeType'
coffee.loc[:20,'CoffeeType']

# ขอแถวที่ 0 ถึง 20 และ คอลัม 'CoffeeType''Grnder'
coffee.loc[:20,['CoffeeType','Gender']]

# ขอแถวที่ 15 ถึง 50 และ คอลัม ที่3-6
coffee.loc[14:50,['CoffeeTime','CodingWithoutCoffee','CoffeeType','CoffeeSolveBugs']]

## 4.Filtering Data

In [55]:
# 1. Single condition / เงื่อนไขเดียว
# กรองคนทำงาน CodingHours > 8 
high_coffee = coffee["CodingHours"]>8 # Series
high_coffee = coffee[coffee["CodingHours"]>8] # Series
high_coffee.info()
# high_coffee = df[df['salary']>50000]

# 2. Multi condition
# กรองคนทำงาน CodingHours > 8 และ เป็น เพศหญิง
# high_coffee = coffee[coffee["CodingHours"]>8 & coffee['Gender']=='Female'] # DataFrame
high_coffee = coffee[(coffee["CodingHours"] > 8) & (coffee["Gender"] == "Female")]
high_coffee
# female_high_salay = df[df['gender']=='Female']

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 4 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodingHours          23 non-null     int64
 1   CoffeeCupsPerDay     23 non-null     int64
 2   CoffeeTime           23 non-null     object
 3   CodingWithoutCoffee  23 non-null     object
 4   CoffeeType           22 non-null     object
 5   CoffeeSolveBugs      23 non-null     object
 6   Gender               23 non-null     object
 7   Country              23 non-null     object
 8   AgeRange             23 non-null     object
dtypes: int64(2), object(7)
memory usage: 1.8+ KB

,CodingHours,CoffeeCupsPerDay,CoffeeTime,CodingWithoutCoffee,CoffeeType,CoffeeSolveBugs,Gender,Country,AgeRange
32,9,2,Before coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29
47,9,1,In the morning,Yes,Nescafe,No,Female,Lebanon,18 to 29
77,9,3,While coding,Sometimes,Nescafe,Sometimes,Female,Lebanon,18 to 29