In [1]:
import pandas as pd

## Introduction to dataFrame

In [2]:
# Create dataFrame:df
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
df

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [3]:
# df with columns
df_columns= pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns= ["A","B","C"])
df_columns

    A   B   C
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [4]:
# df with columns and index
df_columns_index= pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],columns= ["A","B","C"],index=["year_1","year_2","year_3","year_4",])
df_columns_index

         A   B   C
year_1   1   2   3
year_2   4   5   6
year_3   7   8   9
year_4  10  11  12

## 2. Data loading
### การนำเข้าข้อมูล

In [5]:
# read_excel()
import pandas as pd
df_from_excel = pd.read_excel("./datasets/Data_sample.xlsx")
df_from_excel_sheet2 = pd.read_excel("./datasets/Data_sample.xlsx",sheet_name="Sheet2")
df_from_excel_sheet2

      coffee  unit_sold
0       late         15
1   espresso         20
2  capuchino         18
3  amaricano         10

In [ ]:
# read_csv()
df_from_csv = pd.read_csv("./datasets/Salary_Data.csv")
df_from_csv

In [ ]:
# read_csv() from url
#read_csv(path)
path = "https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/CoffeeAndCodeLT2018%20-%20CoffeeAndCodeLT2018.csv"
df_from_url = pd.read_csv(path)

df_from_url

## 3.Accessing Data with Pandas
### การเข้าถึงข้อมูล

In [ ]:
# ตรวจสอบ dataFrame ด้วย.info
df_from_url.info()

In [ ]:
# เข้าถึงข้อมูลแบบ คอลัม

# 1.แสดง คอลัม
df_from_url.columns
#['CodingHours', 'CoffeeCupsPerDay', 'CoffeeTime', 'CodingWithoutCoffee',
    #    'CoffeeType', 'CoffeeSolveBugs', 'Gender', 'Country', 'AgeRange']
# 2.เข้าถึง คอลัม
df_from_url["CodingHours"]
df_from_url["Country"]
df_from_url["CoffeeType"]
df_from_url["CoffeeTime"]

# 2.เข้าถึง คอลัม more than 1 คอลัม
df_from_url[["CodingHours","Country","CoffeeType","CoffeeTime"]]

In [ ]:
# เข้าถึงแบบ Row with dataFrame.loc[ row columns ]
df_from_url.loc[[0,1,2,3,4,5,6,7,8,9]]
df_from_url.loc[0:20]
df_from_url.loc[50:]

In [ ]:
#เข้าถึงแบบ dataFrame.loc[ row columns ]
# สร้างด้าต้าเฟลม ชื่อ coffee
coffee = df_from_url

# ขอแถวที่ 0 ถึง 20 และ คอลัม 'CoffeeType'
coffee.loc[:20,'CoffeeType']

# ขอแถวที่ 0 ถึง 20 และ คอลัม 'CoffeeType''Grnder'
coffee.loc[:20,['CoffeeType','Gender']]

# ขอแถวที่ 15 ถึง 50 และ คอลัม ที่3-6
coffee.loc[14:50,['CoffeeTime','CodingWithoutCoffee','CoffeeType','CoffeeSolveBugs']]

## 4.Filtering Data

In [ ]:
# 1. Single condition / เงื่อนไขเดียว
# กรองคนทำงาน CodingHours > 8 
high_coffee = coffee["CodingHours"]> 8 # Series # ตรวจสอบว่าข้อมูลไหน มากกว่า 8 บ้าง ผลลัทธ์ True False
high_coffee = coffee[coffee["CodingHours"] > 8]
# high_coffee = coffee[coffee["CodingHours"]>8] # Series
# high_coffee.info()
# high_coffee = df[df['salary']>50000]

# 2. Multi condition
# กรองคนทำงาน CodingHours > 8 และ เป็น เพศหญิง
# high_coffee = coffee[coffee["CodingHours"]>8 & coffee['Gender']=='Female'] # DataFrame
# high_coffee = coffee[(coffee["CodingHours"] > 8) & (coffee["Gender"] == "Female")]
high_coffee
# female_high_salay = df[df['gender']=='Female']

In [43]:
# นำ Data_sample เข้า DataFrame
data_sample = pd.read_excel("./datasets/Data_sample.xlsx")
data_sample

#กรองคนที่อายุมากกว่า 10
data_year_more_than_10 = data_sample['age']>10

#อยากได้เป็น DataFrame dataframe[]
data_year_more_than_10 = data_sample[data_sample['age']>10]
data_year_more_than_10 # dataframe ต้องมีข้อมูลแสดงออกมา

#เพิ่ม คอลัม ชื่อว่า sex
data_sample['sex'] = ['female','male','male','male','male','male']
data_sample

# เพิ่มคอลัม ชื่อว่า weight
data_sample['weight'] = [30,40,50,50,50,50]
data_sample


# กรอง คนที่มีน้ำหนักมากกว่า 40
data_weight_more_than_40 = data_sample['weight']>40
data_weight_more_than_40

#สร้าง dataframe ชื่องว่า data_sample_weight_more_than_40
data_weight_more_than_40 = data_sample[data_sample['weight']>40]
data_weight_more_than_40


# กรอง คนที่มีน้ำหนักมากกว่า 40 และ คนที่อายุมากว่า 10 () & ()
(data_sample['weight'] > 40) & (data_sample['age']>10) #<< condition

# กรอง คนที่มีน้ำหนักมากกว่า 40 และ คนที่อายุมากว่า 10 () & ()
data_sample_more_w_40_and_a_more_10 = data_sample[(data_sample['weight'] > 40) & (data_sample['age']>10)]
data_sample_more_w_40_and_a_more_10

# กรอง เพศชายอย่างเดียว
data_sample['sex'] == 'male'
data_sample['sex'] != 'male'


#สร้าง Dataframe ชื่อว่า data_sample_female
data_sample_female = data_sample[data_sample['sex'] != 'male']
data_sample_female
# data_sample
# Dataframe income น้อยกว่าหรือเท่ากับ 30000 และ (&) น้ำหนัก มากกว่าหรือเท่ากับ 30 หรือ(|) เพศชาย |
data_sample['income'] <= 30000
data_sample['weight'] >= 30
data_sample['sex'] == 'male'

data_sample = data_sample[(data_sample['income'] <= 30000) & (data_sample['weight'] >= 30) & (data_sample['sex'] == 'male')]
data_sample

   number firstname lastname  age  income   sex  weight
1       2       bob    baley   40   17500  male      40
2       3   charlie    angel   30   13000  male      50
3       4      john     wick   50   20000  male      50